
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

a{
 
text-decoration: none;
color: white;
font-size: 18px;
}
ul li{
    list-style: none;
    
    margin: 40px;

}

.side-bar{
    
    position: absolute;
left: -270px;
background-color: black;
opacity: 0.8;
height: 100%;
width: 270px;
}
.side-bar header{
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    margin-top: 25px;
    background:grey;
    opacity: 0.4;
}
/*
.side-bar{
    border-left:  25px solid rgba(128, 128, 128, 0.694);

}*/
.side-bar .fas{
    padding: 4px;
    margin-right: 4px;
    
}
.side-bar a:hover{
    color: gray;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
}
label #btn{
    left: 40px;
    top: 20px;
    font-size: 35px;    
  cursor: pointer;
  transition: all 1s;
  color: white;

}
label #cancel{
    z-index: 1111;
 left: -270px;
    color: white;
    transition: all 1s ease;

}
#check:checked ~ .side-bar{
  left: 0;

}
#check:checked ~ label #btn{
    left: 20px;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 240px;
}

.container{
    background: url(./req.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 105vh;
}    
.container p{
    color: rgb(245, 245, 245);
    font-size: 50px;
    float: right;
    margin-top: 100px;
    
    border: 8px solid rgba(128, 128, 128, 0.381);
    border-radius: 8px;
}
@media only screen and (max-width:900px)
{
    .container p{
        margin-top: 60px;
        font-size: 35px;
    }
    label #cancel{
        left: -190px;
    }
    #check:checked ~ label #cancel{
        left: 190px;
    }
}
header{
 
    font-size: 80px;
    font-weight: 500;
text-align: center;
border: 2px solid crimson ;
padding: 20px;
background-color:whitesmoke;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    flex-wrap: wrap;
}
.gallery img{
padding: 20px;
border: 2px solid black ;
}
header span{
color: crimson;
}
 h1{
text-align: center;
font-size: 60px;
margin-top: 50px;
background-color: whitesmoke;
}
.contact{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    min-height: 100vh;
    padding: 50px 80px;
    background: url(./backgr.jpg);
    background-size: cover;
    height: 80px;
}
.contact .content{

max-width: 800px;
text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-size: 30px;
    font-weight: 300;
    color: #fff;

}
.about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.about-container .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.about-container .contact-info .box{
position: relative;
padding: 20px 0px;
display: flex;

}
.about-container .contact-info .box .icon{
    min-width: 60px;
    height: 60px;
    color:white;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.about-container .contact-info .box .text{
    color: black;
    font-size: 12px;
    font-weight: 500px;
    background: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
border-radius: 8px;
}
.contactform h2{
    font-size: 30px;
    color:black;
font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;

}
section .profile{
    height: 150px;
    width: 150px;
    border-radius: 50%;
   
}
 .aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
}
.aboutme h5{
    font-size: 16px;
}
.accounts a{
    color: black;
}
.aboutme h2{
    font-size: 36px;
}
footer{
    background-color: black;
    opacity: 0.8;
}
footer h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
footer a{
    color: white;
}